@charset "UTF-8";

*{
    font: normal 16px arial, verdana , sans-serif;
    color: black;
    margin: 0;
    border: 0;
    padding: 0;
}

div.menu{
    background-color: crimson;
    position: absolute;
    width: 100%;
    height: 55px;
    padding: 10px;
}

h1.logo{
    font-size: 2em;
    font-weight: bold;
    font-family: verdana;
    margin: 0;
    padding: 5px;
    padding-bottom: 0;
}

h2.logo {
    font-size: 16px;
    color: white;
    padding-left: 30px;
}

div.cont1 {
    position: relative;
    top: 100px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    font-size: 1.3em;
    font-family: verdana;
    font-weight: bold;
}

abbr {
    text-decoration: underline;
}

a{
    color: red;
    text-decoration: none;
}