@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

.img1,
.img2,
.img3{
    position: relative;
    opacity: 0.70;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.img1{
    background-image: url('img/1.jpg');
    min-height: 100%;
}

.img2{
    background-image: url('img/2.jpg');
    height: 400px;
}

.img3{
    background-image: url('img/3.jpg');
    height: 400px;
}

.text1{
    height: 100vh;
}

.text1 > h1{
    position: absolute;
    color: #fff;
    display: inline-block;
    background-color: #2f2f2f;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: normal;
    font-size: 27px;
    letter-spacing: 8px;
}

section{
    height: 300px;
    text-align: center;
}

h3{
    padding: 50px 0px 30px 0px;
    font-size: 27px;
    color: #2f2f2f;
}

p{
    color: #2f2f2f;
    max-width: 800px;
    margin: auto;
}

.text2{
    position: relative;
    height: 400px;
}

.text2 > h2{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sect{
    background-color: #2f2f2f;
}

.sect > h3{
    color: #fff;
}
.sect > p {
    color: #fff;
}