body{
    display: grid;
    justify-content: center;
}

/*
    animation-name: ball;
    animation-duration: 1s;
    animation-timing-fuction: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: backwards;
    animation-play-state: paused;
*/

.bola{

    height: 200px;
    width: 200px;
    background: #333;
    animation-name: ball;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}



@keyframes ball{
    to{
        transform: scale(4);
    }
}